/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


/* NAVBAR */
.navbar {
  background: #222;
  color: white;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #00c3ff;
}


/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #00c3ff, #0072ff);
  color: white;
}


 .profile-img {
  width: 220px;
  height: auto;

  border-radius: 15px;   /* soft corners, not circle */
  margin-bottom: 20px;

  object-fit: contain;

  border: 3px solid white;
}




.hero h1 {
  font-size: 36px;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: white;
  color: #0072ff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.btn:hover {
  background: #f1f1f1;
}


/* SECTIONS */
.section {
  padding: 60px 40px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.section p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.bg-light {
  background: #f4f4f4;
}


/* SERVICES */
.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}


/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
